
<div class="container">
    <div class="intro-text text-center txt-banber c-banner">
        <div class="c-div">	
            <h2><img src="assets/contactus.jpg">Contact Us</h2>
            <p>Real Estate and Housing Business Unit, <br> Home Loan Bank of India, Corporate Center
            </p>
            
        </div>
        <div class="t-div">	
            <h2><img alt="" src="assets/contact-icon.jpg">Toll Free No.</h2>
            <p>1800 11 2018  &nbsp; &nbsp;(Toll Free)</p>
            
        </div>
<div class="mail-div">
    <h2><img href="" src="assets/email-icon.jpg">customer-care </h2>
    <p>sowmyatalavelma@gmail.com <br> uppuvinayasree@gmail.com <br> sreelasya@gmail.com <br> harshavardhani@gmail.com</p>
   
</div> 
 </div>
