<h2>Add a Book</h2>
<form class="form-group" [formGroup]="booksForm">
    <label>ID</label> &nbsp;
    <span *ngIf="booksForm.get('id')?.touched">
        <small *ngIf="booksForm.get('id')?.errors?.required" class="text-danger">ID is required</small>
        <small *ngIf="booksForm.get('id')?.errors?.min" class="text-danger">ID should be 3 or more digits</small>
        </span>
    <input type="number" required name="id" id="id" class="form-control" formControlName="id"  [class.is-invalid]="booksForm.get('id')?.invalid" />
    <label>Title</label> &nbsp; 
    <span *ngIf="booksForm.get('title')?.touched">
        <small *ngIf="booksForm.get('title')?.errors?.required" class="text-danger">Title is required</small>
        <small *ngIf="booksForm.get('title')?.errors?.forBiddenTitle" class="text-danger">Title Not Allowed</small>
    </span>
    <input type="text" name="title" id="title" class="form-control" formControlName="title" [class.is-invalid]="booksForm.get('title')?.invalid" />
    <label>Price</label>
    <input type="number" name="price" id="price" class="form-control" formControlName="price"/>
    <div formGroupName="authorForm">
        <div>
            <label>Author</label>
            <input type="text" name="authorName" id="authorName" class="form-control" formControlName="authorName"/>
        </div>
        <div>
            <label>Author Email</label>
            <input type="email" name="authorEmail" id="authorEmail" class="form-control" 
            formControlName="authorEmail" [class.is-invalid]="">            
        </div>
    </div>    
    <button class="btn btn-success" [disabled]=''>Submit</button>
</form>

{{booksForm.value|json}}