<div id="la_heading_60aba7a8d61d5" class="la-headings text-center">
    <h2 class="js-el heading-tag la-unit-responsive letter-spacing--2" style="font-family:Playfair Display;font-weight:700;font-style:italic"  data-la_component="UnitResponsive"  data-el_target='#la_heading_60aba7a8d61d5 .heading-tag'  data-el_media_sizes='{&quot;font-size&quot;:&quot;lg:48px;md:40px;sm:36px;xs:30px;&quot;,&quot;line-height&quot;:&quot;&quot;}' >
        Why choose us
    </h2>
</div>

<div class="container">
    <header class="vc_cta3-content-header">
        <h2>Easy Application</h2>									
    </header>
    <!-- <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.</p> -->
</div>


	<div class="container">
		<header class="vc_cta3-content-header">
			<h2>Instant Approval</h2>									
        </header>
    </div>

    <div class="container">
        <h4>Our Values</h4> 
        <ul class="listing"> 
            <li>Trust </li> 
            <li>Transparency</li> 
            <li>Integrity</li> 
            <li>Excellence</li> 
        </ul> 
        <h4>Value to Customers</h4> 
        <ul class="listing"> 
            <li>Wide Product Range </li> 
            <li>Interest Calculation on Daily Reducing Balance</li> 
            <li>Overdraft Facility available</li> 
            <li>Low Interest Rates</li> 
            <li>Low Processing Fees</li> 
            <li>No Hidden Costs</li> 
            <li>No Pre-payment penalty </li> 
        </ul> 
</div>
