<h2>Update Book</h2>
<form (submit)="updateBook(fm.value)" class="form-group" #fm="ngForm">
    <label>ID</label>
    <input type="number" name="id" id="id" [(ngModel)]="book.id" ngModel 
      class="form-control" required #bId="ngModel" [class.is-invalid]="bId.invalid"/>
    <label>Title</label> &nbsp; <small *ngIf="bTitle.invalid && bTitle.touched">Title is required</small>
    <input type="text" name="title" id="title" [(ngModel)]="book.title" ngModel 
      class="form-control" required #bTitle="ngModel" 
      [class.is-invalid]="bTitle.invalid && bTitle.touched" />
    <label>Author</label>
    <input type="text" name="author" id="author" [(ngModel)]="book.author" ngModel 
      class="form-control" #bAuthor="ngModel" />
    <label>Price</label>
    <input type="number" name="price" id="price" [(ngModel)]="book.price" ngModel 
      class="form-control" #bPrice="ngModel" />
    <button class="btn btn-success">Submit</button>
</form>