<!--<p *ngFor="let b of bookService.books" [ngStyle]="{'backgroundColor':b.price>500?'pink':'cyan'}">{{b.id}} {{b.title|shorten|uppercase}} {{b.author|shorten:12}} {{b.price|currency:'INR'}}</p>-->
<h2>List of Books</h2>
<table border="1" class="table">
    <tr style="background-color: darkblue; color: white;">
        
        <th>Id</th><th>Title</th><th>Author</th><th>Price</th><th>Update</th>
    </tr>
    <tr  *ngFor="let b of bookService.books" [ngStyle]="{'backgroundColor':b.price>500?'pink':'cyan'}">
        <td>{{b.id}}</td><td>{{b.title|shorten|uppercase}}</td><td>{{b.author|shorten:12}}</td><td>{{b.price|currency:'INR'}}</td>
        <td><button (click)="updateBook(b.id)">Update</button></td>
    </tr>
</table>
