<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

<body>

    <div id="login">
      <h3 class="text-center text-white pt-5">Login form</h3>
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form #v="ngForm" (ngSubmit)="onLogin(v.value)" id="login-form" class="form" >
                          <h3 class="text-center text-info">Login</h3>
                          <div class="form-group">
                              <label for="userId" class="text-info">UserId:</label><br>
                              <input type="number" name="userId" id="userId" class="form-control" required ngModel>
                          </div>
                          <div class="form-group">
                              <label for="password" class="text-info">Password:</label><br>
                              <input type="password" name="password" id="password" class="form-control" required ngModel>
                          </div>
                         
                          <div class="form-group"> 
                        
                              <button type="submit" class="btn btn-info btn-md">login</button>
                          </div>
                          <br>
                          <div id="register-link" class="text-right">
                              <a routerLink="/add-customer" class="text-info"><b>Sign Up</b></a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </body>
    <!-- (submit)="onLogin(value)"
    #value="ngForm" -->
    User:
    {{errormsg|json}}
   